*{
    width: 350px;
    margin: auto;
    padding: 10px;
}

form{
    margin: auto;
    width: 450px;
    padding: 10px;
}

button{
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
}
h1{
    text-align: center;
}
textarea{
    resize: none;
}